.buttonBase {
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;
  background-color: var(--red);
  position: relative;
  justify-self: center;
}

.inner {
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background-color: var(--black);
}

.decimal {
  position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--white);
}