.buttonBase {
  width: calc(2 * var(--diameter));
  height: var(--diameter);
  border-radius: var(--diameter);
  background-color: var(--cater-black);
  padding: 0;

}

.equal {
  grid-column: 3 / 5;
  justify-self: end;
  overflow: hidden;
}

.stripes {
  display: flex;
  width: 100%;
  position: relative;
}
.end, .black {
  background-color: var(--cater-black);
}
.end, .white, .yellow, .green {
  flex: 1;
}
.black {
  width: 2px;
}
.end {
  flex: 2;
}

.white {
  background-color: var(--cater-white);
}
.green {
  background-color: var(--green);
}

.yellow {
  background-color: var(--cater-yellow);
}

.sign {
  position: absolute;
  background-color: var(--black);
  width: 30%;
  height: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign.top {
 top: 40%;

}

.sign.bottom {
top: 65%;
}