.buttonBase {
  width: calc(2 * var(--diameter));
  height: var(--diameter);
  border-radius: var(--diameter);
  background-color: var(--cater-white);
}

.equal {
  grid-column: 3 / 5;
  justify-self: end;
}

/* https://dribbble.com/shots/1996905-C-for-Caterpillar */