.buttonBase {
  width: calc(2 * var(--diameter));
  height: var(--diameter);
  border-radius: var(--diameter);
  background-color: var(--cater-black);
  padding: 0;
}

.equal {
  grid-column: 3 / 5;
  justify-self: end;
  overflow: hidden;
}

.stripes {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.end,
.black {
  background-color: var(--cater-black);
}
.end,
.yellow,
.green {
  flex: 1;
}

.end {
  flex: 2;
}

.green {
  background-color: var(--green);
  border-right: 1px solid var(--white);
  border-left: 1px solid var(--black);
}

.yellow {
  background-color: var(--cater-yellow);
  border-right: 2px solid var(--white);
  border-left: 2px solid var(--black);
}

.sign {
  position: absolute;
  background-color: var(--black);
  border: 2px solid var(--cater-black);
  width: 30%;
  height: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sign.top {
  top: 40%;
}

.sign.bottom {
  top: 65%;
}

.buttonBase:hover .green {
  background-color: var(--cater-yellow);
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--black);
}

.buttonBase:hover .yellow {
  background-color: var(--green);
  border-left: 2px solid var(--white);
  border-right: 2px solid var(--black);
}

.buttonBase:hover .sign {
  background-color: var(--cater-white);
}
