.calcBody {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid blue;
  width: 95%;
  max-width: 300px;
  margin: 0 auto;
  background: var(--green);
  padding: 0.5rem;
}

.screen {
  background: var(--grey);
  padding: 0.5rem 0.2rem;
  border-radius: 5px;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem;
  gap: 0.5rem;
  border: 1px solid green;
}
