.calcBody {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  gap: 0.5rem;
  width: 95%;
  max-width: 300px;
  margin: 0 auto;
  background: var(--green);
  padding: 0.5rem;
  box-shadow: 0 5px 9px -1px var(--cater-black);
}

.screen {
  background: var(--grey);
  padding: 0.5rem 0.2rem;
  border-radius: 5px;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem;
  gap: 0.8rem;
  border: 1px solid var(--cater-black);
   box-shadow: inset 0px 0px 5px 0px var(--cater-black);
    border-radius: 5px;
}
