.led {
  text-align: right;
  font-size: 2rem;
  line-height: 1;
}

.ledSmall {
  text-align: right;
  font-size: 1.2rem;
  line-height: 1;
}

.error {
  color: var(--red);
}

.error.led {
  font-size:2.5rem;
}