.header {
  display:flex;
  gap: 0.5rem;
  width: 95%;
    max-width: 300px;
    margin: 0 auto;
}

.imgContainer {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  margin: 0 auto;

}

.imgContainer img {
  width: 100%;
}