:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* LADYBUG (NUMBERS) */
  --black: #141113;
  --red: #f44c29;
  --gold: #db9800;
  --white: #fafafa;
  /* DAISY (OPERATIONS)  */
  --disc: #fec049;
  --petal-front: #cb5ca2;
  --petal-back: #ef9cd5;
  --petal-active: #890a5b;

  /* FROG  */
  --bright-yellow: #f7ef02;
  --dark-green: #283a25;
  --green: #00ad53;
  /* CATERPILLAR  */
  --cater-black: #33282b;
  --cater-yellow: #f7c938;
  --cater-white: #f9ebe5;

  --grey: #e4e1e4;

  /* CIRCLE BUTTONS */
  --diameter: 3.5rem;
}

main {
  min-height: 100vh;
}

button {
  border: none;
}
button:hover {
  cursor: pointer;
}

/* HEADER CHILDREN  */
.header-content {
  display: flex;
  flex-direction: column;
}

.header-content h1 {
  font-size: 1.2rem;
  margin: 0;
}

.header-content p {
  font-size: 1rem;
  margin: 0.25rem auto;
  line-height: 1.1;
}
